body {background-color: #F6F6F6;};

.placeholder-icon {
  border-radius: 50%;
  color: #24B4A9;
};

.caps {
  text-transform: uppercase;
};

.handlee {
  font-family: 'Handlee', cursive;
};

.montserrat {
  font-family: 'Montserrat', sans-serif;
};
